<form action="/tukasngs/order" method="post">
<h1>Ini adalah halaman kedua, HIRE TUKANG</h1>
<h2>Profil Tukang<h2>
  Nama lengkap si tukang :  <%= tukang.fullname %>
<br>
<textarea name="description" size="60" rows="15" cols="80">halo tukang... Bantuin melahirkan dong</textarea>
  <h2>Profil User</h2>
  Nama Lengkap si User : <%= user.fullname %>
  <br><br>
  <input type="submit" name="submit" />
</form>
